@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Community.BookFriendGroup.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Sanctum.Community.BookFriendGroupGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>